html, body {
    margin: 0;
    background-color: rgb(252, 239, 220);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.cb{
    clear: both;
}

.center{
    text-align: center;
}

.container{
    width: 960px;
    margin: 0 auto;
}
.fl{
    float: left;
}
.fr{
    float: right;
}
.w-50{
    width: 50%;
}
h1{
    margin: 40px;
    border-bottom: 1px solid rgba(56, 27, 0);
    width: 50%;
    color: rgba(56, 27, 0);
}


/*---------Navigation bar section------------*/
nav{
    margin-top: 8px;
    margin-right: 16px;
    width: 100%; 
}
nav ul, nav li{
    padding: 0;
    margin: 0;
}
nav ul{
    float: right;
}
nav ul li{
    float: left;
    list-style-type: none;
    position: relative;
    padding: 20px 0px 20px 40px; 
}
nav ul li ul{
    display: none;
    position: absolute;
    margin-top: 14px;
    margin-left: -8px;
    z-index: 1;
}
nav ul li:hover ul{
    display: block;
}
nav li a:hover{
    color: rgb(59, 25, 1)
}
nav ul li ul li:hover{
    background-color: burlywood;
}
nav ul li ul li {
    color: black;
    padding: 8px;
    width: 140px;
    background-color: rgb(252, 239, 220);
    border-bottom: solid 1px rgb(233, 221, 206);
}
nav a{
    color: rgb(126, 58, 13);
    font-size: 1.3em;
    text-decoration: none;
    font-weight: 500;
}



/*---------Navigation bar section------------*/
.banner{
    width: 100%;
}
.home-quote{
    font-size: xx-large;
    font-weight: bold;
    letter-spacing: 0.6em;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/*---------Form section------------*/
form{
    border-radius: 10px;
    border: 2px solid rgba(56, 27, 0);
    background:#b6a093;
    margin: auto;
    width :600px;
    padding: 20px;
}
::placeholder {
    color: rgb(194, 0, 0);
  }
.contact-form-input{
    padding: 10px;
    margin-top: 10px;
}
textarea{
    width: 95%;
    border: 1px solid rgba(56, 27, 0);
    border-radius: 3px;
    padding: 10px;
    margin-top: 10px;
}



/*---------Store section------------*/
.card{
    width: 265px;
    height: max-content; 
    padding: 16px;
    background-color: #b6a093;
    border-radius: 8px;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
.card img{
    width: 100%;
}


/*---------Our menu section------------*/
table{
    margin: 0 auto;
}
table thead{
    background-color: #b6a093;
    height: 40px;
    font-size: x-large;
}
td{
    width: 140px;
}
